@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="hero-image" src="~/lib/university_entrance.jpg" />
    <div class="image-content">
        <h1 class="display-4">Welcome</h1>
        <p>Enroll at Contoso University today!</p>
    </div>

</div>
